---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
PointerAlignment: Left
SpaceAfterCStyleCast: true
