---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
PointerAlignment: Left
SpaceAfterCStyleCast: true
